<div class="score-board">
  <div class="row">
    <div class="col-sm-2">
      <h1>Score:</h1>
    </div>
    <div class="col-sm-2">
      <div id="score"><b>{{model}}</b></div>
    </div>
  </div>
</div>


<!-- <div class="panel panel-default" id="score-board">
  <div class="panel-heading row"><h3>Score</h3></div>
  <div class="panel-body col-sm-2">
    {{score.score}}

<div class="panel panel-primary">
  <div class="panel-heading" class="row">
    <h3 class="panel-title" class="col-sm-2">Score</h3>
  </div>
  <div class="panel-body">
    {{model.score}}
  </div>
</div> -->
