  <div class="lessons-index">
    {{#each model as |lesson|}}
      {{#link-to 'lessons.lesson' lesson}}
      <div class="lesson-container">
        <h1>{{link-to lesson.topic 'lessons.lesson' lesson}}</h1>
        <h2>{{lesson.description}}</h2>
      </div>
      {{/link-to}}
    {{/each}}
  </div>