<div class="lessons-index">
  {{#each model as |lesson|}}
    <div class="lesson-container" id="{{lesson.topic}}">
      <h2>{{link-to lesson.topic 'lessons.lesson' lesson}}</h2>
      <h4>{{lesson.description}}</h4>
    </div>
  {{/each}}
</div>