  <div class="lessons-index">
    {{#each model as |lesson|}}
      {{#link-to 'lessons.lesson' lesson}}
      <div class="lesson-container" id="{{lesson.topic}}">
        <h1>{{link-to lesson.topic 'lessons.lesson' lesson}}</h1>
        <p>{{lesson.description}}</p>
      </div>
      {{/link-to}}
    {{/each}}
  </div>