<div class="container">
<div class="row">
  <div class="col-sm-6">
    <h1>{{lesson.topic}}</h1>
    <p>Use the sliders to adjust the camera settings. Try to match what you think the picture settings were!</p>
  </div>

  <div class="col-sm-6">
    {{score-board model=score }}
  </div>
</div>{{!-- row end --}}

<div>
  {{outlet}}
</div>

<br>
{{#each lesson.flashcards as |flashcard|}}
  {{#link-to 'lessons.lesson.flashcard' flashcard}}<img src="{{flashcard.thumbURL}}">{{/link-to}}
{{/each}}
</div>
