<div class="jumbotron">
  <div class="container">
    <h1>Welcome to PicSet</h1>
    <p>Learn to use your camera settings through image recognition lessons</p>
    <p><a class="btn btn-default" href="intro" role="button">Get Started »</a></p>
  </div>
</div>

<div class="container">



  <footer>
    <p> </p>
  </footer>

</div>
